<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ page.redirect_to }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Redirecting | {{ site.title }}</title>
    <link rel="canonical" href="{{ page.redirect_to }}">
    <script>
      window.location.replace({{ page.redirect_to | jsonify }});
    </script>
  </head>
  <body>
    <p>Redirecting to <a href="{{ page.redirect_to }}">{{ page.redirect_to }}</a>.</p>
  </body>
</html>
